{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %} - {{ block.super }}{% endblock %}

{% block page_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 fw-bold text-primary">
                    <i class="fas fa-key"></i> {% trans "Change Your Password" %}
                </h6>
            </div>
            <div class="card-body">
                <!-- Password Requirements -->
                <div class="alert alert-info">
                    <h6 class="alert-heading">{% trans "Password Requirements" %}</h6>
                    <ul class="mb-0">
                        <li>{% trans "At least 8 characters long" %}</li>
                        <li>{% trans "Contains uppercase and lowercase letters" %}</li>
                        <li>{% trans "Contains at least one number" %}</li>
                        <li>{% trans "Contains at least one special character" %}</li>
                        <li>{% trans "Different from current password" %}</li>
                    </ul>
                </div>
                
                <form method="post">
                    {% csrf_token %}
                    
                    {{ form|crispy }}
                    
                    <hr>
                    
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'dashboard' %}" class="btn btn-secondary">
                            {% trans "Cancel" %}
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> {% trans "Change Password" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
